!!! 5
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title Sinatra Stagehand
    %link{href: "/assets/application.css", rel:"stylesheet"}
    %script{src: "/assets/application.js"}
  %body
    =yield
